#not-found {
	.not-found-content {
		text-align: center;
		background-color: #fff;
    	padding: 60px;
    	.bug-container {
			object {
				width: 400px;
			}
		}
		.bug-container-1 {
			object {
				width: 400px;
				height: 100px;
			}
		}
		.content-notfound {
			h3 {
				font-family: 'ProximaNova-Semibold';
    			color: #f3bb3d;
    			text-transform: uppercase;
			}
			p {
				color: #d3d3d3;
				span {
					font-weight: 700;
    				text-transform: uppercase;
				}
			}
			a {
				padding: 12px;
			    background-color: #000;
			    color: #FFFFFF;
			    border-radius: 3px;
			    margin: 10px;
			    &:hover {
			    	text-decoration: none;
			    }
			}
		}
	}
}
@media only screen and (max-width: 500px) { 
	#not-found {
		.not-found-content {
			padding: 40px;
			.bug-container {
				object {
					width: 100%;
				}
			}
			.bug-container-1 {
				object {
					width: 100%;
					height: 100px;
				}
				
			}
		}
		
	}
}