#blog-list{
	background-color: #f9f9f9;
	.container{
		margin-top: 0%;
	}
	h2{
		font-family: 'ProximaNova-Bold';
		font-size: 30px;
		 @media (max-width: 500px){
		 	font-size: 22px;
		 }
	}
	.blog-list-subhead{ 
		font-family: 'ProximaNova-Light';
		font-size: 13px;
		color: #A0A0A0;
		font-style: italic;
	}
	.blog-list-subhead-detail{
		font-family: 'ProximaNova-Regular';
		font-size: 16px;
		color: #000;
		 @media (max-width: 500px){
		 	font-size: 14px;
		 }
	}
	.blog-list-readmore{
		font-family: 'ProximaNova-Semibold';
		font-size: 18px;
		color: #000;
		text-decoration: none;
		@media (max-width: 500px){
		 	font-size: 14px;
		 }
	}
	img{
		max-width: 100%;
		height: auto;
		@media (max-width: 500px){
		 	margin-top: 40px;
		 }
	}
	.bl-top-margin{
		margin-top: 5%;
	}
	.bl-pagination{
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.page-link{
		border: 1px solid transparent;
		color: #000;
	}
	.page-link:hover{
		border: 1px solid #000 !important;
		background-color: #fff;
	}
	.page-item.active .page-link {
	    background-color: #fff;
	    border: 1px solid #000 !important;
	}

}

#blog-single{
	background-color: #f9f9f9;
	.container1{
		margin-top: 0%;
	}
	h2{
		font-family: 'ProximaNova-Bold';
		font-size: 30px;
		@media (max-width: 500px){
		 	font-size: 22px;
		 }
	}
	.blog-single-subhead{
		font-family: 'ProximaNova-Light';
		font-size: 13px;
		color: #A0A0A0;
		font-style: italic;
	}
	// img{
	// 	max-width: 100%;
	// 	height: auto;
	// }
	.container2{
		padding: 0 50px;
		@media (max-width: 500px){
			padding: 0 0px;
		}
		p{
			font-family: 'ProximaNova-Regular';
			font-size: 16px;
			@media (max-width: 500px){
		 	font-size: 14px;
		 	text-align: justify;
		 }
		}
	}
	.card{
	    position: relative;
		margin-top: -60px;
		margin-bottom: 50px;
		padding: 20px;
		@media (max-width: 500px){
			padding: 15px 0px;
			margin: 30px 0;
		}
	}
	h3{
		font-family: 'ProximaNova-Bold';
		font-size: 20px;
		@media (max-width: 500px){
			font-size: 18px;
		}
	}
	.blog-detail{
		font-family: 'ProximaNova-Regular';
			font-size: 16px;
			@media (max-width: 500px){
			font-size: 14px;
			text-align: justify;
		}
	}
	.blog-single-readmore{
		font-family: 'ProximaNova-Semibold';
		font-size: 18px;
		color: #000;
		text-decoration: none;
		@media (max-width: 500px){
			font-size: 14px;
		}
	}
	.blog-single-margin{
		margin-bottom: 15%;
	}

	


}