.cart-tabs{
	.nav-link{
		font-size: 18px; 
		color: $gray;
		background: none;
		border: none;
		outline: none;
		font-family: 'ProximaNova-Regular';
		span{
			box-shadow: 0px 0px 20px -2px #dbdbdb;
			width: 36px;
			height: 36px;
			margin-right: 5px;
			display: inline-block;
			text-align: center;
			line-height: 2;

		}
		&.active{
			color: $black;
			font-weight: 900;
			span{
				background: $yellow;
				color: $white;
			}
		}
	}
}
#user-cart {
		.add-address {
		a{
			float: right;
			padding: 10px;
		    border: 1px solid #d3d3d3;
		    border-radius: 9px;
		    font-size: 13px;
		    color: #000;

		}
	}
	.edit-address {
		a{
			float: right;
			padding: 10px;
		    font-size: 14px;
		    color: #FFF;
		}
	}
	.card-type {
		padding: 2px 30px;
	    background-color: #000;
	    color: #fff;
	    font-family: 'ProximaNova-Bold';
	    border-radius: 4px;
	    font-size: 18px;
	    h5 {
	    	margin: 0;
	    }
	}
	.form-pad {
		padding: 40px;
	}
	.card-btn {
		background-color: #000;
	    color: #FFF;
	    border-radius: 5px;
	}
	.card {
		width: 20%;
		.add-card {
			padding:20px;
			h4 {
				font-size: 18px;
    			color: #ababab;
			}
			p{
				font-size: 13px;
			}
			p:nth-child(3){
				font-size: 13px;
				color: #ababab;
			}
			 label{
			    padding: 5px;
			    color: #ababab;
			    border: solid 1px #ababab;
			    border-radius: 4px;
			    cursor: pointer;
			    text-align: center;
			    -webkit-user-select: none;
			    user-select: none;
			    -webkit-transition: all .2s linear;    
			    transition: all .2s linear;
			  }
			  
			  input[type="radio"]{ display: none; }
			  
			  input[type="radio"]:checked + label{ 
			    border-color: #000;
			    color: #FFF;
			    background-color: #000;
			  }
			  .edit-del {
			  	a {
			  		color: #ababab;
    				font-size: 14px;
    				span {
    					padding-left: 8px;
    				}
			  	}
			  }
		}
	}
	.pay-content {
		padding: 25px;
		@media(max-width: 500px){
			padding: 8px;
		}
	}
	.pay-content-1 {
		padding: 30px;
		.price-pay {
			font-size: 16px;
			font-weight: 100;
			p{
				font-size: 16px;
				
				span {
					padding-left: 10px;
				}
				@media(max-width: 500px){
					font-size: 20px !important;
					text-align: center;
				}
			}
		}
		@media(max-width: 500px){
			padding: 15px;
		}
	}
	.coupan {
		input {
			border-radius: 4px;
		}
	}
	.coupan-app {
		padding: 6px 20px;
	    border: 1px solid #d3d3d3;
	    border-radius: 5px;
	    width: auto;
	    @media (max-width: 500px) {
	    	margin-top: 4px;
	    }
	}
	.payment-content {
		text-align: center;
		padding-top: 60px;
		padding-bottom: 60px;
		.price-pay {
			font-size: 16px;
			font-weight: 100;
			p{
				font-size: 12px;
				color: #d3d3d3;
				span {
					padding-left: 10px;
				}

			}
			
		}
		.placed-payu1 {
			margin: 10px;
		}
		.placed-cod {
			a{
				padding: 10px;
			    background-color: #000;
			    color: #FFFFFF;
			    border-radius: 3px;
			    margin: 10px;
			    font-size: 14px;
			    &:hover{
			    	
			    	text-decoration: none;
			    }
			}
		}
	}

}
#shipping, #payment{
	padding-top: 30px;
	background-color: transparent;
	
}
.user-cart-box{
	background-color: $white;
	padding: 15px;
	margin-bottom: 15px;
	font-size: 16px;
}
.responsive-table{
	font-size: 18px;
	font-weight: 700;
	background-color: $white;
	button{
		background: transparent;
		border:0px;
		outline: none;
		cursor: pointer;
	}
	tr{
		border-bottom: 1px solid $light-gray;
		&:hover{
			box-shadow: 0px 0px 20px -2px $light-gray;
			transition: all ease-in-out 0.3s;
		}
	}
	p{
		margin: 0;
		font-size: 14px;
	}
	h6{
		font-size: 18px;
	}
	.btn{
		border:1px solid $black;
		padding: 5px 15px;
		font-weight: 700;
		&:hover, &:focus{
			color: inherit;
			outline: none;
		}
	}
	.next-btns{
		a{
			color: $white;
			background-color: $black;
			&:hover{color: $white;}
			@media(max-width: 320px){
				font-size:12px;
			}
		}
	}

	@media(max-width: 500px){

		.rtable th {
			font-size: 11px;
			text-align: left;
			text-transform: uppercase;
			width: 100%;
			height: 100%;
		}

		.rtable th,
		.rtable td {
			padding: 6px 12px;
			border: 1px solid #d9d7ce;
		}

		.rtable--flip {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			overflow: hidden;
			background: none;
		}

		.rtable--flip thead {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-negative: 0;
			flex-shrink: 0;
			min-width: -webkit-min-content;
			min-width: -moz-min-content;
			min-width: min-content;
		}

		.rtable--flip tbody {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			position: relative;
			overflow-x: auto;
			overflow-y: hidden;
		}
		.rtable--flip tbody td{width: 100%;text-align: center;}
		.rtable--flip tbody tr{min-width: 100%;}
		.rtable--flip thead tr {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			min-width: -webkit-min-content;
			min-width: -moz-min-content;
			min-width: min-content;
			-ms-flex-negative: 0;
			flex-shrink: 0;
		}

		.rtable--flip td,
		.rtable--flip th {
			display: block;
		}

		.rtable--flip td {
			background-image: none !important;
			border-left: 0;
		}

		.rtable--flip th:not(:last-child),
		.rtable--flip td:not(:last-child) {
			border-bottom: 0;
			min-height: 80px;
			img{width: 28%}
			h4{margin: 0;}
		}
		button{width: 100%;}
	}
	.radio-work {
		span{
			font-size: 16px;
			color: #d3d3d3;
		}
	}

}
.selected-pro{		
		font-weight: 100;
		color: $gray;
		i{
			font-size: 17px;
		    color: #565656;
		    font-weight: 100;
		}
		@media(max-width: 500px){
			font-size:12px;
		}	
		@media(max-width: 320px){
			font-size:10px;
		}	
}
@media only screen and (max-width: 500px) { 
	#user-cart {
		.card {
			width: 100%;
		}
		.align-middle {
			p {
				font-size: 14px;
				margin-bottom: 8px;
			}
		}
		.user-cart-box {
			padding: 15px 0px;
		}
		.form-pad {
			padding: 15px 0px;
		}
	}
}
