#user-profile {
    .card {
        width: 100%;
    }
    .card-padding {
        padding: 20px;
    }
    .alapatt-diamond {
        margin-top: 26px;
        img {
            width: 100%;
            height: auto;
        }
        p {
            font-family: 'ProximaNova-Regular';
            font-size: 13px;
            margin-bottom: 0;
        }
        h3 {
            font-family: 'ProximaNova-Semibold';
            font-size: 16px;
        }
    }

    .account-settings {
        h4 {
            font-family: 'ProximaNova-Semibold';
            font-size: 22px;
        }
        .asetting-subhead {
            font-family: 'ProximaNova-Regular';
            font-size: 16px;
            color: #000;
            padding-left: 47px;
        }
        .order-head {
            font-family: 'ProximaNova-Semibold';
            font-size: 20px;
            color: #000;
            padding: .5em 0;
        }
        .order-img-padding {
            padding-right: 20px;
        }
        @media(max-width: 500px) {
            h4 {
                font-size: 20px;
            }
        }
    }
    .p-info {
        font-family: 'ProximaNova-Semibold';
        font-size: 22px;
    }
    .edit-pen {
        text-decoration: none;
    }

    .form-head {
        h5 {
            font-family: 'ProximaNova-Regular';
            font-size: 14px;
        }
    }
    .m-add-ellipsis {
        border: 0;
        padding: 0;
        &:focus {
            color: #000 !important;
            box-shadow: 0px !important;
        }
        &:hover {
            color: #000 !important;
        }
    }
    .manager-add {
        h3 {
            font-family: 'ProximaNova-Regular';
            font-size: 17px;
        }
        p {
            font-family: 'ProximaNova-Regular';
            font-size: 14px;
            color: #636363;
        }
        a {
            color: #000;
            &:focus {
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        }
    }
    .my-wish {
        img {
            width: 100%;
            height: auto;
        }
        h3 {
            font-family: 'ProximaNova-Regular';
            font-size: 15px;
        }
        p {
            font-family: 'ProximaNova-Regular';
            font-size: 13px;
            color: #C1C1C1;
        }
        .fa {
            font-size: 14px;
            color: #000;
        }
    }

    .myorder {
        a {
            color: #000;
            text-decoration: none;
            border: none;
            &:hover {
                border: none;
            }
        }
        img {
            width: 100%;
            height: auto;
        }
        h3 {
            font-family: 'ProximaNova-Regular';
            font-size: 15px;
        }
        p {
            font-family: 'ProximaNova-Regular';
            font-size: 13px;
            color: #C1C1C1;
        }
        .fa {
            font-size: 18px;
            font-weight: bold;
        }
        .buynow-btn {
            .btn {
                background-color: #000;
                color: #fff;
                border-color: #000;
                margin: 35px 0 0 0;
            }
        }
        .cp-btn {

            padding: 5px 20px;

            font-family: 'ProximaNova-Semibold';
            font-size: 14px;
        }
    }
    .order-details {
        &.nav-link{
            &.active{width: auto;}
        }
        .back-to-myorder {
            float: right;
            font-size: 16px;
        }
        a {
            color: #000;
            span {
                padding: 8px;
            }
        }
    }
    .item-details {
        border-right: 1px solid #ddd;
        p:first-child {
            font-size: 16px;
            color: $black;
            font-family: 'ProximaNova-Bold';
        }
        p {
            font-size: 12px;
            color: $lightgray;
        }
        span {
            padding-left: 8px;
            color: $black;
            font-size: 13px;
        }
    }
    .item-details-shiping {
        border-right: 1px solid #ddd;
        p:first-child {
            font-size: 16px;
            color: $black;
            font-family: 'ProximaNova-Bold';
        }
        p:nth-child(2) {
            font-size: 13px;
            color: $black;
            margin: 0;
        }
        p:nth-child(3) {
            font-size: 13px;
            color: $lightgray;
        }
        span {
            padding-left: 8px;
            color: $lightgray;
            font-size: 13px;
        }
    }
    .item-details-manage {
        p:first-child {
            font-size: 16px;
            color: $black;
            font-family: 'ProximaNova-Bold';
        }
        p {
            font-size: 16px;
            color: $yellow;
            span {
                padding-left: 4px;
                border-radius: 50%;
                a {
                    color: $yellow;
                }
            }
        }
    }
    .shiping-order-det {
        p:first-child {
            margin: 0;
            color: #000;
            font-size: 15px;
            font-family: 'ProximaNova-Bold';
        }
        p {
            font-size: 12px;
            color: #d3d3d3;
        }
    }

    .cont {
        height: 100%;
        width: 90%;
        left: 0;
        padding: 0;
        margin: 0 auto;
        position: relative;
        font-family: FontAwesome;

        #progress-bar {
            appearance: none;
            width: 100%;
            background-color: #d3d3d3;
            height: 3px;
            margin: 0 auto;
        }
        span {
            height: 20px;
            width: 20px;
            border-radius: 100%;
            border: 3px solid #d3d3d3;
            background: #d3d3d3;
            position: absolute;
            left: 0;
            top: 2px;
            cursor: pointer;
            transition: all 0.4s ease-in-out;
            &::before {
                content: "\f00c";
                top: -4px;
                right: -2px;
                position: relative;
                color: #fff;
                font-size: 10px;
            }
        }
        .second {
            left: 50%;
        }
        .third {
            left: 100%;
        }

        #progress-bar::-webkit-progress-value {
            /* Changes line color */
            background: #00c440;
            transition: all 0.4s ease-in-out;
        }
        #progress-bar::-webkit-progress-bar {
            /* Changes background color */
            background: #d3d3d3;
        }
        .border-change {
            border-color: #00c440;
            transition: all 0.4s ease-in-out;
            background-color: #00c440;
        }
        .msg-of-conf {
            p {
                margin: 0;
                color: #d3d3d3;
            }
        }
    }
    .nav-link{
        &.active{
            &:after{
                content: "\f101";
                font-family: FontAwesome;
                margin-left: 5px;
            }
        }
    }
}
.bs-tether-element-attached-left{
    background: $black;
}
.popover-ellipsis {
    color: #000;
    background-color: #fff;
    border: 0px solid #fff;
}

@media only screen and (max-width: 786px) {
    #user-profile {
        .order-details {
            .back-to-myorder {
                a {
                    font-size: 10px;
                }
            }
        }
        .card-padding {
            h4 {
                font-size: 18px;
            }
        }
        .item-details {
            border-right: none;
            border-bottom: 1px solid #ddd;
        }
        .item-details-shiping {
            border-right: none;
            border-bottom: 1px solid #ddd;
        }
        .item-details-manage {
            border-bottom: 1px solid #ddd;
        }
    }
}

@media only screen and (max-width: 500px) {
    #user-profile {
        .card-padding {
        	padding: 0;
            h4 {
                font-size: 16px;
            }
        }
        .order-details {
            .back-to-myorder {
                a {
                    font-size: 8px;
                }
            }
        }
        .myorder{
        	.buynow-btn{
        		.btn{
        			float: none !important;
    				font-size: 12px;
        		}

        	}

        }
        .custom-form {
            .gender-btn {
                margin-right: 0;
                label {
                    margin-bottom: 0px;
                }
            }
        }
    }
}