#banner-slider {
    .carousel-caption {
        bottom: 40%;
        text-align: left;

    }
    p:first-child {
        font-family: 'Didot-HTF-B42-Bold-Ital';
        font-size: 25px;
        color: $dark-coco;
        span {
            font-size: 80px;
            margin-left: 10px;
        }
    }
    p:nth-child(2) {
        font-family: 'Didot-HTF-L96-Light-Ital';
        font-size: 25px;
        color: $coco;
    }
    .carousel-indicators {
        margin: 0;
        right: 0;
        left: 50%;
        bottom: 30px;
        li {
            background-color: $light-gray;
            &.active {
                background-color: $dark-coco;
            }
        }
    }
    @media(max-width: 768px){
        .search-bar{
            label{
                position: absolute;
                top: 8px;
                left: 10px;
                .fa{
                    color: #dfdfdf;
                }
            }
            input[type='search']{
                font-size: 12px;
                padding: 10px 25px;
                border-color: #efefef;
                &::-webkit-input-placeholder {
                  color: #dfdfdf;
                }
                &::-moz-placeholder {
                  color: #dfdfdf;
                }
                &:-ms-input-placeholder {
                  color: #dfdfdf;
                }
                &:-moz-placeholder {
                  color: #dfdfdf;
                }
            }
        }
    }
    @media (max-width: 500px){
        .carousel-caption{
            bottom: 45%;
            left: 5%;
            right: 5%;
        }
        p:first-child{
            font-size: 20px;
            span{font-size: 60px;}
        }
        p:nth-child(2){
            font-size: 18px;
        }
        
        

    }
}

#offer-banners {
    .grid-container {
        display: grid; // grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-areas: "one two two" "three four five";
    }
    .one {
        grid-area: one;
        grid-column: 1/2;
    }
    .two {
        grid-area: two;
        grid-column: 2/5;
    }
    .three {
        grid-area: three;
        grid-column: 1/3;
        grid-row: 2;
    }
    .four {
        grid-area: four;
        grid-column: 3/4;
        grid-row: 2;
    }
    .five {
        grid-area: five;
        grid-column: 4/5;
        grid-row: 2;
    }
    img {
        box-shadow: 0px 0px 15px -1px $light-gray;
    }

    @media only screen and (max-width: 900px) {
        padding: 0px;
        .grid-container {
            grid-template-areas: "one four five" "two two two" "three three three";
            grid-column-gap: 10px;
            grid-row-gap: 10px;
        }
        .one {
            grid-column: 1/2;
        }
        .two {
            grid-column: 1/4;
        }
        .three {
            grid-column: 1/4;
            grid-row: 3;
        }
        .four {
            grid-column: 2/3;
            grid-row: 1;
        }
        .five {
            grid-column: 3/4;
            grid-row: 1;
        }
    }
}

#singel-product {
    // background: url(../images/pro-banner.jpg) center no-repeat;
    background-size: cover;
    font-family: 'ProximaNova-LightItalic';
    // padding: 150px 0;
    color: $dark-yellow;
    .singel-product-content{
        padding: 50px 15px;
    }
    h2,
    h4 {
        font-family: 'Didot-HTF-B42-Bold-Ital';
        margin: 0;
        color: $yellow;
    }
    p {
        font-size: 20px;
        margin-top: 30px;
    }
    h2 {
        font-size: 48px;
    }
    h4 {
        font-size: 32px;
    }

    @media (max-width: 900px){
        padding: 50px 0;
    }
    @media (max-width: 500px){
        background-size: cover;
        background-position: top;
        img{margin-top: 30px;}
        p{font-size: 16px;}
    }
}

#product-listing__filter {
    padding-bottom: 60px;
    .nav {
        .nav-item {
            .nav-link {
                color: $light-gray;
                font-size: 22px;
                font-family: 'ProximaNova-Regular';
                &.active {
                    background: transparent;
                    color: $black;
                    font-family: 'ProximaNova-Semibold';
                }
            }
        }
    }
    .card {
        width: 20%;
        @media (max-width: 900px){
            width: 33.33%;
        }
        @media (max-width: 500px){
            width: 50%;
            .price{
                strike{font-size: 13px;}
            }
            .btn{
                width: 100%;
                margin-bottom: 8px;
            }
        }
        @media (max-width: 360px){
            .price{
                h5{font-size: 12px;}
            }
        }
    }
    @media (max-width: 500px){
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 40px;
        .nav{
            .nav-item{
                .nav-link{
                    font-size: 14px;
                }
            }
        }
    }
}

#shop-by-category {
    padding-top: 60px;
    padding-bottom: 60px;
    .heading {
        h4 {
            margin: 0;
            font-size: 20px;
        }
        h2 {
            font-size: 25px;
            margin-top: 0;
            font-weight: 900;
            font-family: 'ProximaNova-Bold';
        }
    }
    .line {
        width: 60%;
        margin-left: 0;
    }
    .card {
        margin-top: 0;
        max-width: 230px;
        @media (max-width: 500px){
            max-width: none;
        }
    }
    .slider-nav {
        position: absolute;
        bottom: 0;
        right: 0;
        
        z-index: 999;
    }
    .swiper-container {
        min-height: 420px;
    }
    .swiper-wrapper {
        min-height: 365px;
    }
    .nav {
        .nav-link {
            color: $gray;
            &.active {
                color: $black;
                font-family: 'ProximaNova-Semibold';
                &:after {
                    content: "\f101";
                    font-family: FontAwesome;
                    margin-left: 5px;
                }
            }
        }
    }
    @media (max-width: 500px){
        padding-top: 30px;
        padding-left: 0px;
        padding-right: 0px;
        .flex-column{
            -webkit-flex-direction: row!important;
            -ms-flex-direction: row!important;
            flex-direction: row!important;
            overflow: scroll;
        }
        .slider-nav { 
            left: 0;
            text-align: center;
        }
        .nav{
            margin-bottom: 15px;
            padding-bottom: 20px;
            padding-top: 10px;
            .nav-link{
                &.active{
                    background: $white;
                    box-shadow: 0px 0px 20px -2px $light-gray;
                }
                width: auto;
                white-space: pre;
            }
        }
    }
}

#testimonial {
    padding-top: 60px;
    padding-bottom: 60px;
    color: $dark-coco;
    .heading {
        margin-bottom: 40px;
        margin-top: 10px;

        span {
            font-size: 30px;
            font-family: 'ProximaNova-Bold';
        }
    }
    .fa-quote-left {
        float: left;
        font-size: 8em;
        margin-right: 20px;
        height: 200px;
    }
    .content {
        margin-top: 75px;
        font-size: 20px;
        font-family: 'ProximaNova-LightItalic';
    }
    .content-box {
        box-shadow: 0px 0px 16px 0px $light-gray;
        padding: 30px;
    }
    .swiper-slide {
        min-height: 465px;
    }
    .profile {
        position: absolute;
        width: 100%;
        bottom: 36px;
        img{
            box-shadow: 0px 0px 16px 0px $light-gray;
        }
        p,
        h4 {
            margin: 0;
        }
    }
    .nav-arrow {
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: 999;
        font-size: 45px;
        .test-button-next {
            content: "\f101";
            right: 0;
            position: absolute;
            display: inline-block;
            font-family: FontAwesome;
        }
        .test-button-prev {
            content: "\f100";
            left: 0;
            position: absolute;
            display: inline-block;
            font-family: FontAwesome;
        }
        .test-button-next,
        .test-button-prev {
            &:before {

                font-family: FontAwesome;
                font-size: 30px;
            }
        }
    }
    @media (max-width: 500px){
        padding-top: 0px;
        padding-bottom: 0px;
        .content-box{
            padding: 15px;
        }
        .fa-quote-left{
            font-size: 2em;
            height: auto;
        }
        .content{
            font-size: 14px;
            margin-top: 45px;
        }
        .pad-30{padding: 5px;}
        .profile{
            bottom: 80px;
        }
    }
}