#map {
	width:100%;
	height:70vh;
}
#overlay {
	position: absolute;
    width: 100%;
    height: 70vh;
    background: #fff;
    background: -moz-linear-gradient(left, transparent, #ededed 100%);
    background: -webkit-linear-gradient(left, transparent, #ededed 100%);
    background: linear-gradient(to left, transparent, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    z-index: 1;
    cursor: pointer;
}
#contactus {
	min-height: 1250px;
    position: relative;

	.move-overlay {
		display:none;
	}
	.getIntouch {
		position: absolute;
    	z-index: 9;
    	text-align: center;
    	width: 100%;
    	margin-top: 30px;
    	left: 0;
    	right: 0;
	}
	.contactus-container {
		position: absolute;
	    top: 35%;
	    width: 100%;
	    transition: all ease 0.3s;
	    z-index: 2;

	}
	.move-box {
		top: 50%;
    	transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	}
	.get-in {
		font-family: 'ProximaNova-Bold';
		margin-bottom: 30px;
	}
	.get-in-block {
		min-width: 50%;
	}
	.full-map {
		background-color: #fff;
   		padding: 8px;
    	z-index: 9;
    	float: right;
    	p {

    	}
	}
	.view-full-map-text {
		font-size: 9px;
    	margin-bottom: 0;
    	padding-left: 22px;
	}
	.view-map {
		float: right;
    	line-height: 2;
    	text-decoration: none;
    	color: #000;
	}
	.form-bgcolor {
		background-color: $white;
	}
	.form-bgcolor-right {
		background-color: $black;
	}
	.msg-box {
		margin: 40px;
	}
	.contact-info {
		padding-top: 30px;
	}
	.contact-info ul {
		list-style: none;
		color:$white;
	}
	.contact-info ul li {
		padding-bottom: 15px;
	}
	.social-link-box {
		margin: 20px 0px;
	}
	.social-link {
		padding-right: 15px;
	}
	.buttons  {
		.btn{
			&.theam-btn{
				color: #000;
    			border-color: #000;
    			background-image: linear-gradient(45deg, #000 50%, transparent 50%);
			}
			&:hover{
				color: #fff;
			}
		}
    }
}
@media only screen and (max-width: 500px) {
   #contactus {
   		.contactus-container {
   			position: relative;
   		}	
    }
}