#aboutus{
	font-size: 16px;
	
	.about-box { 
		background-color: #FFFFFF;
	    padding: 50px;
	}
	.text-color {
		color: #b3b3b3;
	}
	.about-heading {
		margin-top:60px;
	}
	.f-m-heading {
		font-family: ProximaNova-Bold;
	}
	.f-m-sub-heading {
		font-family: ProximaNova-Semibold;
	}
	.n-founder {
		color:#00000096;
		font-family: ProximaNova-Semibold;
	}
	@media (max-width: 500px){
		.about-box{
			padding:15px;
		}
	    .author-img{
	    	img{
	        	display: block;
			    margin-right: auto;
			    margin-left: auto;
			    max-width: 80%;
			    margin-top: 15px;
	        }
	    }
	 }
} 
