#collection-banner {

	.grid-container {
	    display: grid;
  		grid-template-columns: auto auto auto auto;
  		grid-gap: 25px;
	}
	.one {
	    grid-row: 1 / span 2 ;
	}
	.two {
	    grid-column: 2 / span 3 ;
	}
	.three {
	   grid-row: 1 / 2 / span 3 ;
	}
	.four {
	   grid-column: 3 / 5;
	}
}
@media only screen and (max-width: 786px) {
   #collection-banner {
   		.grid-container {
   			grid-gap: 8px;;
   		}	
    }
}