#payment-success {
	.cart-tabs .nav-link {
		font-size: 18px;
		color: #000000;
		text-align: center;
		span {
			box-shadow: 0px 0px 20px -2px #dbdbdb;
			width: 36px;
			height: 36px;
			margin-right: 5px;
			display: inline-block;
			text-align: center;
			line-height: 2;
			background: #f3bb3d;
			color: #fff;
		}
	}
	.order-success-content {
		background-color: #fff;
		padding-bottom: 60px;
		padding-top: 30px;
		.success-msg {
			h1{
				font-size: 20px;
				color: #f3bb3d;
				text-align: center;
				span {
					border: 4px solid #f3bb3d;
					border-radius: 50px;
					padding: 8px;
					color: #f3bb3d;
				}
			}
		}
		.cont{
			height: 100%;
			width: 40%;
			left: 0;
			padding: 0;
			margin: 0 auto;
			position: relative;
			font-family:FontAwesome;
			#progress-bar{
				appearance:none;
				width: 100%;
				background-color: #d3d3d3;
				height: 3px;
				margin: 0 auto;
			}
			span {
				height: 20px;
				width: 20px;
				border-radius: 100%;
				border: 3px solid #d3d3d3;
				background:#d3d3d3;
				position: absolute;
				left:0;
				top: 2px;
				cursor: pointer;
				transition: all 0.4s ease-in-out;
				&::before {
					content: "\f00c";
					top: -4px;
					right: -2px;
					position: relative;
					color: #fff;
					font-size: 10px;
				}
				strong {
					top: 20px;
					position: absolute;
					right: 20px;
					left: -20px;
					width: 100px;
					color: #d3d3d3;
					font-size: 12px;
					font-weight: 500;
				}
			}
			.second{
				left: 50%;
			}
			.third{
				left: 100%;
			}
			#progress-bar::-webkit-progress-value{ /* Changes line color */
				background: #00c440;
				transition: all 0.4s ease-in-out;
			}
			#progress-bar::-webkit-progress-bar{ /* Changes background color */
				background: #d3d3d3;
			}
			.border-change{
				border-color:#00c440;
				transition: all 0.4s ease-in-out;
				background-color:#00c440;
			}
			.msg-of-conf {
				p{
					margin: 0;
					color: #d3d3d3;
				}
			}
		}
		.manage-order {
			text-align: center;
    		margin-top: 50px;
			a {
				padding: 12px;
			    background-color: #000;
			    color: #FFFFFF;
			    border-radius: 3px;
			    margin: 10px;
			    &:hover {
			    	text-decoration: none;
			    }
			}
		}
	}
.card-type {
	padding: 10px 70px;
	background-color: #000;
	color: #fff;
	font-family: 'ProximaNova-Bold';
	border-radius: 4px;
	font-size: 18px;
	.header-card {
		h5 {
			font-size: 16px;
			margin: 0;
		}
	}
	.d-date {
		float: right;
	}
}
.items-list{
	background-color: #FFFFFF;
	padding: 0px 50px;
	.count-items {
		span{
			font-size: 20px;
			color: #ddd;
		}
		img {
			width: 100px;
		}
		h3 {
			font-size: 16px;
		}
		p {
			font-size: 12px;
			color: #d3d3d3;
		}
	}
}
.items-list-add{
	background-color: #FFFFFF;
	padding: 0px 70px;
	.count-items {
		span{
			
		}
		
		h3 {
			font-size: 16px;
    		font-family: 'ProximaNova-Semibold';
		}
		p {
			margin: 0;
    		color: #d3d3d3;
		}
	}
}
}
@media only screen and (max-width: 500px) {

	#payment-success{
		.items-list {
			.count-items{
				 span {
				    font-size: 15px;
				}
				h3 {
				    font-size: 14px;
				}
				p {
			    	font-size: 10px;
				}
			}
		} 
		.items-list-add {
			.count-items {
				h3 {
					font-size: 14px;
				}
				p{
				    font-size: 10px;
				}
			}
		} 
		.order-success-content {
			.cont {
				width: 60%;
			}
		}
		.card-type {
			padding: 10px 10px;
			.header-card {
				h5{
					font-size: 8px;
				}
			}
		}
	}
}