#product-indo {
	
	.caret {
		color: $lightgray;

    font-family: 'ProximaNova-Regular';
    font-style: italic;
    font-size: 16px;
	}
	.video-slide {
		video {
			width: 100%;
			height: 400px;
		}
		@media(max-width: 768px){ 
			video {
	    		height: 320px;
	    	}
	    }
	}
	.custom-btn {
		background-color: transparent;
    	border: none;
    	outline: none;
    	font-size: 15px;
    	font-family: 'ProximaNova-Semibold';
    	color: #d3d3d3;
	}
	.share-arrow {
		color: #000;
    	padding: 6px; 
    
	}
	
	.price span {
    	font-size: 18px;
    	font-family: 'ProximaNova-Semibold';
    	margin-right: 10px;
	}
	strike {
    	font-size: 16px;
    	color: #dbdbdb;
    	font-family: 'ProximaNova-Light';
	}
	.margin-btm {
		margin-bottom: 12px;
	}
	.select-size-op {
		border-radius: 4px;
    	border: 2px solid $lightgray;
    	color: $lightgray;
    	font-style: italic;
    	font-family: 'ProximaNova-LightItalic';
	}
	.size-error {
		line-height: 2;
		p{
			font-family: 'ProximaNova-LightItalic';
			color: $black;
		}
	}
	.buynow-btn .btn {
    	background-color: #000;
    	color: #fff;
    	border-color: #000;
    	margin: 35px 0 0 0;
    	border-radius: 4px;
    	padding: 10px;
	}
	.compare-btn {
    	padding: 5px;
    	border: 0px;
    	color: $lightgray;
    	margin: 40px 0 0 0;
    	font-family: 'ProximaNova-LightItalic';

    	
	}
	.compare-share-btn {
		padding: 5px;
    	border: 0px;
    	color: $lightgray;
		text-decoration: none;
	}
	
	.add-compare {
		margin-right: 5px;
	}
	.compare-btn:hover, .compare-btn:focus {
		background-color: transparent;
		outline: none;
	}
	.select-option {
		padding: 0px 30px 5px 0px;
	}
	.heading-spacing {
		margin-top: 30px;
    	margin-bottom: 30px;
	}
	.sub-heading-spacing {
		margin-bottom: 30px;
	}
	
	.heading-spacing p {
		font-family: 'ProximaNova-Semibold'
	}
	.heading-spacing p span {
		font-family: 'ProximaNova-Regular';
    	color: $lightgray;
	}
	.check-btn {
		background-color: #000;
    	color: #fff;
    	border-color: #000;
    	width: 100%;
	}
	tbody tr td {
		border-top: none;
	}
	.faq-arrow {
	    display: block;
	    text-decoration: none;
	    color: #000;
	    font-family: ProximaNova-Semibold;
	}
	.faq-arrow.collapsed::after {
	    content: "\f105";
	    font-family: FontAwesome;
	    float: right;
	    font-weight: 700;
	}
	.faq-arrow::after {
	    content: "\f107";
	    font-family: FontAwesome;
	    float: right;
	    font-weight: 700;
	}

	.product-button-next,.product-button-prev {
		position: absolute;
	    top: 30px;
	    z-index:9999;
	    font-size: 25px;
	    &.product-button-next{
	    	right: 0;
	    }
	    &.product-button-prev{
	    	left: 0;
	    }
	    @media(max-width: 768px){ 
	    	top: 15px; 
	    }
	}
	.gallery-bgclr {
		background-color: $white;
	}

	.swiper-container {
      width: 100%;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
    }
    .swiper-slide {
      background-size: cover;
      background-position: center;
    }
    .gallery-top {
      width: 100%;
       @media(max-width: 768px){ 
        height: 320px; 
      }
    }
    .gallery-thumbs {
      height:100%;
      box-sizing: border-box;
     /*  padding: 10px 0; */
    /* @media(max-width: 768px){ 
        height: 60px; 
      }*/
    }
    .gallery-thumbs .swiper-slide {
      width: 20%;
      height: 100%;
      opacity: 0.4;
      /* padding-bottom: 10px; */
    }
    .gallery-thumbs .swiper-slide-active {
      	opacity: 1;
        box-shadow: 0px 0px 20px -2px #dbdbdb;
    	background-color: $white;
    }
    .certi-by {
    	font-size: 18px;
    	font-family: 'ProximaNova-LightItalic';
    }
	
}
.bs-tether-element-attached-top {
	background:transparent;
	border:none;
	margin-top: 2px!important;
	a{
		display: block;
		margin-bottom: 15px;
		img{
			width: 25px;
		}
	}
	&:before{
		border:none;
	}
}
#cust-review {
	.media{
    	img {
    		width: 8%;
    		box-shadow: 0px 0px 20px -2px #dbdbdb;
    	}
    	
    }
	.review-content {
		h1 {
			font-size: 23px;
			font-family: 'ProximaNova-Semibold';
		}
	}
	.review-cust {
			margin-top: 45px;
		}
	.margin-btm {
			margin-bottom: 12px;
		}
	.review-cust-h3 {
			font-family: 'ProximaNova-Semibold';
	    	font-size: 14px;
		}
	.review-date {
			color: #d3d3d3;
	    	font-size: 10px;
		}
	.review-para {
			color: #8b8a8a;
		}
	.review-mrgin-btm {
			margin-bottom: 45px;
	}
	.publish-btn {
		background-color: #000;
		color: #fff;
		border-color: #000;
		font-family: 'ProximaNova-Regular';
		padding: 4px 30px;;
		border-radius: 4px;
	}
	@media only screen and (max-width: 500px) {
		textarea{
			font-size: 12px;

		}
	}
}

@media only screen and (max-width: 500px) {
    #product-indo {
    	.h1-heading {
        	font-size: 19px;
    	}
    	.custom-btn {
    		float: right;
    	}
    }
    .media{
    	img {
    		width: 20%;
    		box-shadow: 0px 0px 20px -2px #dbdbdb;
    	}
    	
    }
}


	