#navigation {
    color: $black;
    a {
        color: $black;
        text-decoration: none;
    }
    svg {
        width: 25px;
        height: 25px;
    }
    .nav-link {
        color: $black;
        font-size: 15px;
        position: relative;
    }
    .notification {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #ff6464;
        position: absolute;
        top: 8px;
        left: 30px;
    }
    /* makes the dropdown full width  */
    .dropdown {
        position: static;
    }
    .nav-box{
        border-top: 1px solid $black;
        box-shadow: 0px 6px 25px -18px #000;
        z-index: 9999;
        .dropdown-menu {
            width: 100%;
            left: 0;
            right: 0;
            top: 52px;
            border: none;
        }
    }
    .user-profile{
        .dropdown{
            &:focus{
                background: $black;
                color: $white;
                svg{
                    fill:$white;
                }
            }
            
        }
        .dropdown-menu {
            width: 40%;
            z-index: 999999;
            background: $black;
            left: 74px;
            right: 0;
            top: 44px;
            border: none;
            .dropdown-item{
                color: $white;
                &:hover{
                    background: transparent;
                }
            }
        }
    }
    
    /* shows the dropdown menu on hover */
    // .navbar .dropdown:hover .dropdown-menu,
    // .navbar .dropdown .dropdown-menu:hover {
    //     display: block!important;
        
    // }
    .navbar{
        position: static;
        padding: 0;

    }
    .navbar .dropdown-menu {
        background-color: #fff;
        border-top: 1px solid #e2e2e2;
        border-bottom: 3px solid #000;
        padding: 20px 0;
        h5{margin-bottom: 15px; }
        ul{
            padding: 0px;
            list-style: none;
            li{
                margin-bottom: 8px;
            }
        }
        a{
            font-size: 14px;
        }
    }
    nav {
        .nav-link {
            min-width: 130px;
            padding: 15px;
        }
        .nav-item{
            &:hover{
                box-shadow: 0 -3px 0px $black;
                .nav-link{
                    font-weight: 700;
                }
            }

        }
        .nav-link{
            &:hover{
                font-weight: 700;
            }
        }
    }
    #searchbox{
        position: absolute;
        left: 50%;
    }
    #nav-band{
        background: $black;
        color: $white;
        font-family: 'ProximaNova-Light';
        padding: 5px 15px;
        p{font-size: 12px;margin: 0;}
        b{font-size: 14px;}
    }

}
.form-control{border-radius: 0px;}
.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all ease 0.3s;
  background: $white;
}
//--------modal css apply........

.login-box {
    box-shadow: 0px 0px 20px -2px #dbdbdb;
    padding: 15px;
    background-color: #fff;
}
.modal {
    background-color: rgba(255, 255, 255, 0.8);
}
.modal-content {
    background-color:transparent;
    border:none;
}
.login-logo-box {
    box-shadow: 0px 0px 20px -2px #dbdbdb;
    background-color: $white;
    padding: 50px 30px;
}
.login-heading {
    text-align: center;
    font-family: 'ProximaNova-Semibold';
    margin-top: 20px;
    margin-bottom: 30px;
}

.login-social-link {
    text-align: center;
}
.social-pad {
    padding: 0px 9px;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs .nav-link {
    border: none;
    color: #ddd;
    line-height: 3;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000;
    width: 142px;
    font-size: 15pt;
    line-height: 1.5;
}
.login-box {
    position: relative;
    border-radius: 3px;
}
.pass-forget {
    background-color: transparent;
    border-width: 0;
}
.button-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -46px;
}
.login-btn {
    padding: 6px 40px;
    background-color: #000000;
    color: #ffffff;
    border-width: 0;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
    display: block;
    margin: auto;
}
.pass-forget {
    background-color: transparent;
    border-width: 0;
    display: block;
    margin: auto;
    text-align: center;
    color: #000;
    font-size: 8pt;
    padding: 8px;
    font-family: 'ProximaNova-Semibold';
    text-decoration: none;
}
@media (max-width: 1024px){
    #navigation{
        .nav-item{
            .nav-link{
                span{display: none;}
            }
        }
    }
}
@media (max-width: 900px) {
    #navigation{
        // .container-fluid{padding: 0px;}
        nav{
            .nav-item{

                &:hover{
                    box-shadow: none;
                }
            }
        }
        .nav-box{border: none;}
        .nav-link{
            text-align: left;
            min-width: 50px !important;
        }
        .nav{border-bottom: 1px solid $light-gray;border-top: 1px solid $light-gray;}
        .mobile-logo{width: 30%;}
    }
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px;
        width: 45%;
        height: 100vh;
        background: $white;
        box-shadow: -5px 10px 30px 0px $light-gray;
        overflow-y: auto;
        overflow-x: hidden; 

    }
    .navbar-collapse.collapsing {
        -webkit-transition: left 0.4s ease;
        -o-transition: left 0.4s ease;
        -moz-transition: left 0.4s ease;
        transition: left 0.3s ease;
        left: -100%;
    }
    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.4s ease-in;
        -o-transition: left 0.4s ease-in;
        -moz-transition: left 0.4s ease-in;
        transition: left 0.4s ease-in;
    }
    .close-icon{
        position: absolute;
        top: 15px;
        right: -15px;
        img{width: 30%;}
    }
    .navbar-toggler{
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 0px;
        &:focus{
            outline: none;
            border: none;
        }
    }
}

@media (max-width: 500px){
    .navbar-collapse{
        width: 90%;
    }
    .mobile-logo{width: 75% !important;}
    #navigation{border-bottom: 1px solid #efefef;}
}