footer{
	// margin-top: 80px;
	p{margin-bottom: 0;}
	#download-app{
		background: $coco;
		padding-top: 20px;
		padding-bottom: 20px;
		p{
			font-family: 'ProximaNova-Semibold';
			font-size: 18px;
			
		}
		.mobile{
			position: absolute;
			right: 15px;
			top: -100px;
		}
		@media(max-width: 320px){
			padding-top: 10px;
			padding-bottom: 6px;
		}
	}
	#footer-links{
		background: $footer-black;
		color: $white;
		padding-top: 30px;
		padding-bottom: 30px;
		.nav-link{
			color: $gray;
			img{
				width: 30px;
				height: 30px;
			}
		}
		p{padding: 5px 0px;}
	}
	


@media (max-width: 500px){
	#download-app{
		.mobile{
			top: -68px;
			width: 66%;
		}
		.android-app{width: 40%;}
		p{font-size: 10px;}
	}

	#footer-links{
		.nav-link{
			font-size: 12px;
		}
	}
}
@media (width: 412px){
	#download-app{
		.mobile{
			top: -100px;

		}
	}
}

}