<div class="row" id="download-app">
    <div class="col-12">
        <div class="container">
            <div class="row">
                <div class="col-8 col-lg-6 align-self-center">
                    <p><a href=""><img src="assets/images/playstor.png" class="img-fluid android-app"></a> Download App here</p>
                </div>
                <div class="col-4 col-lg-6">
                    <img src="assets/images/footer-mobile.png" class="img-fluid mobile">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="footer-links">
    <div class="col-12">
        <div class="container">
            <div class="row align-self-center">
                <div class="col-2 col-lg-1">
                    <p>Contact</p>
                </div>
                <div class="col-12 col-lg-11">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row align-self-center">
                <div class="col-2 col-lg-1">
                    <p>Policies</p>
                </div>
                <div class="col-12 col-lg-8">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="shipping-return.html">Shipping & Returns</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="privacy-policy.html">Privacy Policy  </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="terms-condition.html">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-3 ">
                    <ul class="nav float-lg-right">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="assets/images/insta.svg"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="assets/images/fb.svg"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row p-2">
    <div class="col-12">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Copyrights © 2017 All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>