<section id="navigation">
    <section class="container-fluid " id="nav-band">
        <div class="row">
            <div class="col-12 text-center">
                <p><b>31% OFF</b> till 31st Dec 17' valid on Diamond & Gtemstone products | Use Coupon: <b>SANTA</b></p>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row pt-3 pb-3">
                        <div class="col-2 col-lg-5 col-md-1">
                            <p class="hidden-md-down">Toll Free &nbsp;<a href="tel:" title=""><i class="fa fa-mobile" aria-hidden="true"></i> 1800-1030-916</a> &nbsp;<a href="tel:" title=""><i class="fa fa-whatsapp" aria-hidden="true"></i> 9745499901</a></p>
                            <button class="navbar-toggler navbar-toggler-left hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <img class="" src="assets/images/burger-menu.svg" width="25px" height="25px">
                            </button>
                        </div>
                        <div class="col-8 col-lg-2 col-md-10">
                            <a href="index.html"><img src="assets/images/logo.svg" class="img-fluid mx-auto d-block hidden-md-down">
              <img src="assets/images/mobile_logo.svg" class="img-fluid hidden-lg-up mx-auto d-block pt-1 mobile-logo"></a>
                        </div>
                        <div class="col-lg-5 col-md-5 hidden-md-down">
                            <ul class="nav float-right">
                                <li class="nav-item user-profile">
                                    <a href="javascript:void(0);" class="nav-link active dropdown" id="join" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.44 22.63">
                                            <title>user</title>
                                            <g id="Layer_2" data-name="Layer 2">
                                                <g id="Layer_2-2" data-name="Layer 2">
                                                    <path d="M17.4,14a11.46,11.46,0,0,0-6.62-2.31,12.89,12.89,0,0,0-8.18,1.9A5.14,5.14,0,0,0,0,18.43c.05.83,0,1.66,0,2.5,0,1.32.4,1.7,1.7,1.71H17.87c1.15,0,1.54-.4,1.55-1.56,0-1,0-1.91,0-2.85A4.82,4.82,0,0,0,17.4,14Zm.76,4.3c-.06,1,0,2,0,3H1.39A20.2,20.2,0,0,1,1.47,17a4.51,4.51,0,0,1,1.77-2.32c3.35-2.42,9.6-2.38,13,0A3.85,3.85,0,0,1,18.16,18.29Z" />
                                                    <path d="M9.75,9.06a4.6,4.6,0,0,0,4.64-4.54A4.6,4.6,0,0,0,9.72,0,4.57,4.57,0,0,0,5.1,4.54,4.58,4.58,0,0,0,9.75,9.06Zm0-7.76a3.36,3.36,0,0,1,3.41,3.28,3.33,3.33,0,0,1-3.4,3.18A3.28,3.28,0,0,1,6.35,4.57,3.3,3.3,0,0,1,9.73,1.29Z" />
                                                </g>
                                            </g>
                                        </svg> <span>Join</span>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="join">
                                            <a class="dropdown-item" href="#">Account</a>
                                            <a class="dropdown-item" href="#">My orders</a>
                                            <a class="dropdown-item" href="#">Wishlist</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#loginPopup">Log In</a>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.57 22.57">
                                            <title>wishlist</title>
                                            <g id="Layer_2" data-name="Layer 2">
                                                <g id="Layer_2-2" data-name="Layer 2">
                                                    <path d="M14,5.78H8.53a.39.39,0,0,0-.39.39V16.4a.39.39,0,0,0,.59.34l2.56-1.46,2.56,1.46a.39.39,0,0,0,.59-.34V6.17A.39.39,0,0,0,14,5.78Zm-.39,9.94-2.17-1.24a.39.39,0,0,0-.39,0L8.92,15.72V6.56h4.72Z" />
                                                    <path d="M11.28,22.57A11.28,11.28,0,1,1,22.57,11.28,11.3,11.3,0,0,1,11.28,22.57Zm0-21.45A10.16,10.16,0,1,0,21.45,11.28,10.18,10.18,0,0,0,11.28,1.12Z" />
                                                </g>
                                            </g>
                                        </svg><i class="notification"></i> <span>Wishlist</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.4 22.57">
                                            <title>cart</title>
                                            <g id="Layer_2" data-name="Layer 2">
                                                <g id="Layer_2-2" data-name="Layer 2">
                                                    <path d="M2.14,22.57A2.12,2.12,0,0,1,0,20.43L1.13,5.58a.45.45,0,0,1,.44-.41h3v-1a4.13,4.13,0,1,1,8.26,0v1h3a.46.46,0,0,1,.44.43L17.4,20.4a2.13,2.13,0,0,1-2.14,2.17ZM.88,20.45a1.29,1.29,0,0,0,1.26,1.3H15.26a1.25,1.25,0,0,0,1.27-1.27L15.41,6.1H2ZM8.73.88A3.22,3.22,0,0,0,5.47,4.13v1H12v-1A3.22,3.22,0,0,0,8.73.88Z" />
                                                    <circle cx="4.98" cy="8.67" r="1.02" />
                                                    <circle cx="12.42" cy="8.67" r="1.02" />
                                                </g>
                                            </g>
                                        </svg><i class="notification"></i> <span>Cart</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#" data-toggle="collapse" data-target="#searchbox">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.74 16.78"><title>Search</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><path d="M15.47,16.78a.86.86,0,0,1-.67-.28c-.8-.87-1.57-1.72-2.37-2.53a2.5,2.5,0,0,1-.72-1.24,4.83,4.83,0,0,0-.18-.62L11,11.63l-.08.06a6.57,6.57,0,0,1-4.23,1.57,4.87,4.87,0,0,1-.66,0,6.39,6.39,0,0,1-4.51-2.39A6.63,6.63,0,0,1,6.63,0a6.55,6.55,0,0,1,3.9,1.28,6.39,6.39,0,0,1,2.56,3.9,6.6,6.6,0,0,1-1.4,5.74l0,.06.33.54,1.41.4c1.11,1,2.15,2,3.18,2.95a.39.39,0,0,1,.1.15,1.42,1.42,0,0,1-.14,1.23,1.21,1.21,0,0,1-.92.53ZM6.63,1.08A5.56,5.56,0,0,0,1.08,6.63a5.55,5.55,0,0,0,5.55,5.56,5.57,5.57,0,0,0,5.56-5.56,5.51,5.51,0,0,0-1.63-3.92A5.47,5.47,0,0,0,6.63,1.08v0Z"/></g></g></svg> <span>Search</span></a>
                                    <div class="collapse" id="searchbox">
                                        <input class="form-control" type="search" name="" placeholder="Search">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="">
            <div class="row">
                <div class="col-12 nav-box" id="stickyheader">
                    <nav class="navbar navbar-toggleable-md navbar-light">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <p class="hidden-lg-up">Toll Free &nbsp;<a href="tel:1800-1030-916" title=""><i class="fa fa-mobile" aria-hidden="true"></i> 1800-1030-916</a> &nbsp;<a href="intent://send/9745499901#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" title=""><i class="fa fa-whatsapp" aria-hidden="true"></i> 9745499901</a></p>
                            <ul class="nav hidden-lg-up">
                                <li class="nav-item">
                                    <a class="nav-link dropdown" href="#" id="join-mobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.44 22.63">
                                            <title>user</title>
                                            <g id="Layer_2" data-name="Layer 2">
                                                <g id="Layer_2-2" data-name="Layer 2">
                                                    <path d="M17.4,14a11.46,11.46,0,0,0-6.62-2.31,12.89,12.89,0,0,0-8.18,1.9A5.14,5.14,0,0,0,0,18.43c.05.83,0,1.66,0,2.5,0,1.32.4,1.7,1.7,1.71H17.87c1.15,0,1.54-.4,1.55-1.56,0-1,0-1.91,0-2.85A4.82,4.82,0,0,0,17.4,14Zm.76,4.3c-.06,1,0,2,0,3H1.39A20.2,20.2,0,0,1,1.47,17a4.51,4.51,0,0,1,1.77-2.32c3.35-2.42,9.6-2.38,13,0A3.85,3.85,0,0,1,18.16,18.29Z" />
                                                    <path d="M9.75,9.06a4.6,4.6,0,0,0,4.64-4.54A4.6,4.6,0,0,0,9.72,0,4.57,4.57,0,0,0,5.1,4.54,4.58,4.58,0,0,0,9.75,9.06Zm0-7.76a3.36,3.36,0,0,1,3.41,3.28,3.33,3.33,0,0,1-3.4,3.18A3.28,3.28,0,0,1,6.35,4.57,3.3,3.3,0,0,1,9.73,1.29Z" />
                                                </g>
                                            </g>
                                        </svg>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="join-mobile">
                                            <a class="dropdown-item" href="#">Account</a>
                                            <a class="dropdown-item" href="#">My orders</a>
                                            <a class="dropdown-item" href="#">Wishlist</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#loginPopup">Log In</a>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.57 22.57">
                                            <title>wishlist</title>
                                            <g id="Layer_2" data-name="Layer 2">
                                                <g id="Layer_2-2" data-name="Layer 2">
                                                    <path d="M14,5.78H8.53a.39.39,0,0,0-.39.39V16.4a.39.39,0,0,0,.59.34l2.56-1.46,2.56,1.46a.39.39,0,0,0,.59-.34V6.17A.39.39,0,0,0,14,5.78Zm-.39,9.94-2.17-1.24a.39.39,0,0,0-.39,0L8.92,15.72V6.56h4.72Z" />
                                                    <path d="M11.28,22.57A11.28,11.28,0,1,1,22.57,11.28,11.3,11.3,0,0,1,11.28,22.57Zm0-21.45A10.16,10.16,0,1,0,21.45,11.28,10.18,10.18,0,0,0,11.28,1.12Z" />
                                                </g>
                                            </g>
                                        </svg><i class="notification"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.4 22.57">
                                            <title>cart</title>
                                            <g id="Layer_2" data-name="Layer 2">
                                                <g id="Layer_2-2" data-name="Layer 2">
                                                    <path d="M2.14,22.57A2.12,2.12,0,0,1,0,20.43L1.13,5.58a.45.45,0,0,1,.44-.41h3v-1a4.13,4.13,0,1,1,8.26,0v1h3a.46.46,0,0,1,.44.43L17.4,20.4a2.13,2.13,0,0,1-2.14,2.17ZM.88,20.45a1.29,1.29,0,0,0,1.26,1.3H15.26a1.25,1.25,0,0,0,1.27-1.27L15.41,6.1H2ZM8.73.88A3.22,3.22,0,0,0,5.47,4.13v1H12v-1A3.22,3.22,0,0,0,8.73.88Z" />
                                                    <circle cx="4.98" cy="8.67" r="1.02" />
                                                    <circle cx="12.42" cy="8.67" r="1.02" />
                                                </g>
                                            </g>
                                        </svg><i class="notification"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="navbar-nav text-center mx-auto ">
                                <li class="nav-item active dropdown">
                                    <a class="nav-link" id="all-jewellery" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Jewellery</a>
                                    <div class="dropdown-menu" aria-labelledby="all-jewellery">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12 col-lg-2">
                                                    <ul>
                                                        <li><a href="" title="">Rings</a></li>
                                                        <li><a href="" title="">Necklace and Chains</a></li>
                                                        <li><a href="" title="">Earrings</a></li>
                                                        <li><a href="" title="">Pendent</a></li>
                                                        <li><a href="" title="">Bangle</a></li>
                                                        <li><a href="" title="">Bracelet</a></li>
                                                        <li><a href="" title="">Nose Pins</a></li>
                                                        <li><a href="" title="">Thali</a></li>
                                                        <li><a href="" title="">Anklet</a></li>
                                                        <li><a href="" title="">Hip Chain</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-lg-4">
                                                    <div class="row">
                                                        <div class="col-12 col-lg-6">
                                                            <ul>
                                                                <li><a href="" title="">Gold Jewellery</a></li>
                                                                <li><a href="" title="">Diamond Jewellery</a></li>
                                                                <li><a href="" title="">Platinum Jewellery</a></li>
                                                                <li><a href="" title="">Stone Jewellery</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-12 col-lg-6">
                                                            <ul>
                                                                <li><a href="" title="">For Her</a></li>
                                                                <li><a href="" title="">For Him</a></li>
                                                                <li><a href="" title="">Unisex</a></li>
                                                                <li><a href="" title="">For Kids</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 hidden-md-down">
                                                            <a href=""><img src="assets/images/menu-ads-v.png" class="img-fluid"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-2">
                                                    <ul>
                                                        <li><a href="" title="">Bridal</a></li>
                                                        <li><a href="" title="">Engagement</a></li>
                                                        <li><a href="" title="">Wedding</a></li>
                                                        <li><a href="" title="">Anniversary</a></li>
                                                        <li><a href="" title="">Gifts</a></li>
                                                        <li><a href="" title="">Work Wear</a></li>
                                                        <li><a href="" title="">Party</a></li>
                                                        <li><a href="" title="">Everyday</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-lg-2">
                                                    <ul>
                                                        <li><a href="" title="">Gold Coins</a></li>
                                                        <li><a href="" title="">Gift Card</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col hidden-md-down">
                                                    <a href=""><img src="assets/images/menu-ads-h.png" class="img-fluid "></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" id="rings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rings</a>
                                    <div class="dropdown-menu" aria-labelledby="rings">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12 col-md-3">
                                                    <ul>
                                                        <h5>Gold</h5>
                                                        <li><a href="">Inspiration Collection new</a></li>
                                                        <li><a href="">Cute Collection</a></li>
                                                        <li><a href="">Royal Collection</a></li>
                                                        <li><a href="">Heart's Love Collection</a></li>
                                                        <li><a href="">Nature's Collection</a></li>
                                                        <li><a href="">Religious Collection</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-md-3">
                                                    <ul>
                                                        <h5>Diamond</h5>
                                                        <li><a href="">Inspiration Collection new</a></li>
                                                        <li><a href="">Cute Collection</a></li>
                                                        <li><a href="">Royal Collection</a></li>
                                                        <li><a href="">Heart's Love Collection</a></li>
                                                        <li><a href="">Nature's Collection</a></li>
                                                        <li><a href="">Religious Collection</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-md-3">
                                                    <ul>
                                                        <h5>Stone</h5>
                                                        <li><a href="">Inspiration Collection new</a></li>
                                                        <li><a href="">Cute Collection</a></li>
                                                        <li><a href="">Royal Collection</a></li>
                                                        <li><a href="">Heart's Love Collection</a></li>
                                                        <li><a href="">Nature's Collection</a></li>
                                                        <li><a href="">Religious Collection</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-md-3">
                                                    <ul>
                                                        <h5>Platinum</h5>
                                                        <li><a href="">Inspiration Collection new</a></li>
                                                        <li><a href="">Cute Collection</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Necklace & Chains</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Earrings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Pendents</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Bangles & Bracelets</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Collections</a>
                                </li>
                            </ul>
                            <a class="close-icon hidden-lg-up" href="" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><img src="assets/images/close.svg" /></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- login popup -->
<div class="modal fade" id="loginPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 pad-0">
                        <div class="login-logo-box mt-4">
                            <img src="assets/images/logo.svg" alt="" class="img-fluid w-100">
                        </div>
                    </div>
                    <div class="col-md-6 pad-0">
                        <div class="login-box">
                            <button type="button" class="close" data-dismiss="modal" style="position: absolute;right: 5px;z-index: 9999;top: 0;">&times;</button>
                            <div class="login-heading">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#login" role="tab">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#signup" role="tab">Sign Up</a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="login" role="tabpanel">
                                        <form class="custom-form">
                                            <div class="input-control">
                                                <input type="text" id="" class='bottom-border' placeholder='xyz@gmail.com' />
                                                <label for="">e-mail</label>
                                                <span class="border"></span>
                                            </div>
                                            <div class="input-control">
                                                <input type="password" id="" class='bottom-border' placeholder='xxxxxxxxxxxx' />
                                                <label for="">Password</label>
                                                <span class="border"></span>
                                            </div>
                                            <div class="login-social-link">
                                                <div class="d-inline-block social-pad">
                                                    <a href="javascript:"><img src="assets/images/login-fb.svg" alt="" width="35px" height="35px"></a>
                                                </div>
                                                <div class="d-inline-block social-pad">
                                                    <a href="javascript:"><img src="assets/images/login-g.svg" alt=" " width="35px" height="35px"></a>
                                                </div>
                                            </div>
                                            <div class="button-box">
                                                <button type="submit" class="login-btn">Login</button>
                                                <a href="javascript:" class="pass-forget">Forget Password</a>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="signup" role="tabpanel">
                                        <form class="custom-form">
                                            <div class="input-control">
                                                <input type="text" id="" class='bottom-border' placeholder='Abc' />
                                                <label for="">Name</label>
                                                <span class="border"></span>
                                            </div>
                                            <div class="input-control">
                                                <input type="text" id="" class='bottom-border' placeholder='xyz@gmail.com' />
                                                <label for="">e-mail</label>
                                                <span class="border"></span>
                                            </div>
                                            <div class="input-control">
                                                <input type="password" id="" class='bottom-border' placeholder='xxxxxxxxxxxx' />
                                                <label for="">Password</label>
                                                <span class="border"></span>
                                            </div>
                                            <div class="input-control">
                                                <input type="password" id="" class='bottom-border' placeholder='xxxxxxxxxxxx' />
                                                <label for="">Conform Password</label>
                                                <span class="border"></span>
                                            </div>
                                            <div class="login-social-link">
                                                <div class="d-inline-block social-pad">
                                                    <a href="javascript:"><img src="assets/images/login-fb.svg" alt="" width="35px" height="35px"></a>
                                                </div>
                                                <div class="d-inline-block social-pad">
                                                    <a href="javascript:"><img src="assets/images/login-g.svg" alt=" " width="35px" height="35px"></a>
                                                </div>
                                            </div>
                                            <div class="button-box">
                                                <button type="submit" class="login-btn">Sign Up</button>
                                                <a class="tab-pane pass-forget" data-toggle="tab" href="#login" role="tab">New an Account-Login</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end -->