#product-listing{
	padding-top: 30px;
	padding-bottom: 30px;
	#product-listing-filter{
		.card{
			margin-top: 0px;
			float: none;
			.card-header{
				background: transparent;
				h5{
					margin-bottom: 0;
					font-family: 'ProximaNova-Semibold';
				}
				a{
					text-decoration: none;
					&:hover, &:focus{
						color: inherit;
					}
				}
			}
			.card-block{
				padding-top: 15px;
				-webkit-touch-callout: none;
			    -webkit-user-select: none;
			     -khtml-user-select: none;
			       -moz-user-select: none;
			        -ms-user-select: none;
			            user-select: none;
			    font-size: 16px;
			    .custom-control{
			    	display: block;
			    }
			}
		}
		.price-range{
			.range-lable{
				margin-top: 15px;
				font-family: 'ProximaNova-Semibold';
				input{width: 100%;border:0;}
			}
		}
	}
	.heading{
		font-family: 'ProximaNova-Semibold';
		font-size: 30px;
		margin-right: 15px;
	}
	@media(max-width: 500px){
		#product-listing-filter{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: 100%;
			overflow: auto;
			z-index: 99999999;
			background: $white;
			display: none;
		}
		.float-right{
			float: none !important;
			margin-top: 8px;
		}
		.floting-btn{
			position: fixed;
		    bottom: 8px;
		    right: 8px;
		    z-index: 9999;
		    i{
		    	font-size: 22px;
			    color: #fff;
			    padding: 15px 18px;
			    background: #333;
			    display: block;
			    border-radius: 50%;
		    }
		}
		
	}
}

#product-list{
	.card{
		min-width: 33.33%;
		.theam-btn{width: 100%;}
		.compare-btn{width: 95px;}
		@media(max-width: 500px){
			width: 100%;
			.compare-btn{
				float: right;
			}

		}
	}
}
#product-collection{
	.card{
		min-width: 33%;
		float: none;
		display: inline-block;
		.theam-btn{width: 100%;}
		.compare-btn{width: 95px;}
		@media(max-width: 500px){
			width: 100%;
			.compare-btn{
				float: right;
			}

		}
	}
}
.close-filter{
	position: absolute;
    top: 8px;
    right: 8px;
    z-index: 9;
    background: transparent;
    border: 1px solid;
    border-radius: 50%;
    outline: none;
}
.page-link{
	border: 1px solid transparent;
	color: $black;
	margin-right: 1px;
	background-color: transparent;
}
.page-link:hover{
	border: 1px solid #000;
	background-color: #fff;
	color: $black;
}
.page-item.active .page-link {
    background-color: transparent;
    color: $black;
    border: 1px solid #000;
}
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
	pointer-events: none;
}


/* Icons
----------------------------------*/
.ui-icon {
	display: inline-block;
	vertical-align: middle;
	margin-top: -.25em;
	position: relative;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

.ui-widget-icon-block {
	left: 50%;
	margin-left: -8px;
	display: block;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-slider {
	position: relative;
	text-align: left;
	border: 1px solid;
    border-radius: 8px;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .6em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.4em;
	margin-left: -.6em;
	border: 1px solid $gray;
	background: $light-gray;
	border-radius: 50%;
	&:focus{
		outline: none;
	}
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
	background: $light-gray;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}


// add to comman
.tags{
	margin-right: 5px;
	.badge{
		color: $black;
		border: 1px solid $gray;
		background-color: $white;
		span{
			margin-left: 5px;
		}
	}
	button{
		background: transparent;
		border:none;
		padding: 0px;
	}
}
// 