#faq {

    .faq-m-heading {
        font-family: ProximaNova-Bold;
        margin-bottom: 30px;
    }
    .card-header {
        background-color: #ffffff;
        border-bottom: none;
    }
    .faq-arrow {
        display: block;
        text-decoration: none;
        color: #000;
        font-family: ProximaNova-Semibold;
        font-size: 16px;
    }

    .faq-arrow::after {
        content: "\f107";
        font-family: FontAwesome;
        float: right;
        font-weight: 700;
    }
    .faq-arrow.collapsed::after {
        content: "\f105";
        font-family: FontAwesome;
        float: right;
        font-weight: 700;
    }
    .card {
        float: none;
        margin-top: 0px;
       
    }
    .text-block {
        padding-top: 12px;
        color: #b3b3b3;
        font-size: 16px;
    }
    
    .collapse.show {
        border-top: 1px solid rgb(179, 179, 179);
         box-shadow: 0px 0px 20px -2px #dbdbdb;
    }
    .textContaineer {
        box-shadow: 0px 0px 20px -2px #dbdbdb;
        background-color: $white;
        padding: 30px 50px;
        border-radius: 3px;
        font-size: 16px;
        @media(max-width: 500px){
        	padding: 15px;
        }
    }
    .list-heading {
        font-family: ProximaNova-RegularItalic;
        font-weight: 700;
    }
    .list-sub-heading {
        color: #b3b3b3;
    }
    .list-block {
        color: #b3b3b3;
        padding: 15px;
    }
    .list-block li {
        padding-bottom: 15px;
    }
    .term-of-use {
        color: #000000;
        font-weight: 700;
        font-family: ProximaNova-Semibold;
        padding-top: 12px;
        font-style: italic;
    }
    .orders {
        color: #b3b3b3;
        font-style: italic;
    }
    .shiping-returns-text{
        font-size: 16px;
    }
}