
#compare-product{
	.bgwhite{
		background-color: #fff;
	}
	h3{
		font-family: 'ProximaNova-Semibold';
		font-size: 20px;
		@media (max-width: 500px){           
            font-size: 17px;            
         }
	}	
	.compare-product-discount{
		font-family: 'ProximaNova-RegularItalic';
		font-size: 14px;
		color: #EE4E28;
		margin-top: 20px;
		@media (max-width: 500px){           
            font-size: 12px;            
         }
	}
	.p-name{
		font-family: 'ProximaNova-Regular';
    	font-size: 17px; 
    	@media (max-width: 500px){           
            font-size: 14px;            
         }
	}
	strike{
		font-family: 'ProximaNova-Regular';
    	font-size: 15px; 
    	color: #A0A0A0;
    	@media (max-width: 500px){           
            font-size: 13px;            
         }
	}
	.description-detail{
		font-family: 'ProximaNova-Regular';
    	font-size: 15px; 
    	color: #A0A0A0;
    	@media (max-width: 500px){           
            font-size: 13px;            
         }
	}
	.specification-detail{
		font-family: 'ProximaNova-Regular';
    	font-size: 15px; 
    	color: #A0A0A0;
    	@media (max-width: 500px){           
            font-size: 13px;  
            padding-bottom: 0px;
            padding-top: 0px;          
         }
	}
	.p-cost{
		font-family: 'ProximaNova-Semibold';
		font-size: 18px;
		@media (max-width: 500px){           
            font-size: 15px;            
         }
	}
	.cencelX {
	    position: absolute;
	    top: 0px;
	    right: 8px;
	   	border: 1px solid #000;
    	padding: 3px 4px;
    	line-height: 1;	
	    border-radius: 50%;
	    text-decoration: none;
    	font-size: 10px;
    	color: #000;
	    @media (max-width: 500px){           
            padding: 2px 4px;            
         }
	}
	.cp-btn {
	    width: 170%;
	    padding: 5px;
	    font-family: 'ProximaNova-Semibold';
		font-size: 14px; 
		@media (max-width: 500px){           
            font-size: 12px;            
         }
	}
	.theam-btn {
	    color: #000;
	    border-color: #000;
	    background-image: linear-gradient(45deg, #000 50%, transparent 50%);
	}
	.btn:hover, .btn:focus {
	    color: #fff;
	    outline: 0;
	}
	.buynow-btn{
		.btn {
		    background-color: #000;
		    color: #fff;
		    border-color: #000;		    
    		margin: 35px 0 0 0;
		}
	}
	.col-border{
		.col-borderR{
			border-right: 1px solid #ccc;
		}
	}
	.add-product-btn {
	    padding: 6px 14px;
	    margin: 40px 0;
	    font-family: 'ProximaNova-Semibold';
	    font-size: 14px;
	    border: 1px solid #000;
	    @media (max-width: 500px){            
            font-size: 12px; 
            float: none !important;           
         }

	}
	.add-product{
		.btn:hover{
			color: #000;
		}
	}
	.table td, .table th {
	    border-top: 0px solid #eceeef;	
	    padding-bottom: 0px;   
	}
	.right-border{
		border-right: 1px solid #d3d3d3;
	}
	.td-postion{
		position: relative;
	}
	.des-padding-mob{
    	padding-top: 20px;
    }
	@media (max-width: 500px){
            h4{
            	font-size: 20px;
            }            
         	.p-4{
         		padding: 0rem 1.5rem!important;	         
	        }
	        .mobile-margin{
	        	padding-bottom: 0px;
	        }
	        .des-padding-mob{
	        	padding-top: 0px;
	        }
         }


}

