#gift-card, #gift-own-card {
  .gift-heading, .choose-card {
    h4 {
      font-family: 'MyriadPro-Semibold';

    }
  }
  .center {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .center label {
    width: 20%;
    position: relative;
    float: left;
  }
  .center label>span {
    position: absolute;
    width: 100%;
    z-index: 9;
    left: 0;
    right: 0;
    bottom: 20px;
    font-size: 25px;
    color: #fff;
    text-align: center;
  }
  .center label>input[type="checkbox"] {
    position: relative;
    display: inline-block;
    min-height: 250px;
    width: 100%;
    float: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-family: FontAwesome;
  }
  .center label>input[type="checkbox"]:after {
    content: '';
    font-size: 2em;
    text-align: center;
    line-height: 70px;
    color: #555555;
    position: absolute;
    margin: auto auto;
    left: 0; right: 0; bottom: 0; top: 0;
    display: block;
    border-radius: 5px;
    /*background-image: url('../images/anniversary.png');*/
    background-repeat: no-repeat;
    background-position: center;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

  }
  .gift-type label{
    &:nth-child(1){
      input[type="checkbox"] {
        &:after{
          background-image: url('../images/anniversary.png');
        }
      }
    }
    &:nth-child(2){
      input[type="checkbox"] {
        &:after{
          background-image: url('../images/birthday.png');
        }
      }
    }
    &:nth-child(3){
      input[type="checkbox"] {
        &:after{
          background-image: url('../images/velentines.png');
        }
      }
    }
    &:nth-child(4){
      input[type="checkbox"] {
        &:after{
          background-image: url('../images/for-wife.png');
        }
      }
    }
    &:nth-child(5){
      input[type="checkbox"] {
        &:after{
          background-image: url('../images/ocassion.png');
        }
      }
    }
  }
  .gift-type-card label{
    &:nth-child(1){
      input[type="checkbox"] {
        &:after{
          background-image: url('../images/gift-card-1.png');
        }
      }
    }
    &:nth-child(2){
      input[type="checkbox"] {
        &:after{
          background-image: url('../images/gift-card-2.png');
        }
      }
    }
    &:nth-child(3){
      input[type="checkbox"] {
        &:after{
          background-image: url('../images/gift-card-3.png');
        }
      }
    }

  }
  .gift-type-card label {
    width: 26%;
    float: none;
  }
  .gift-type-card label>input[type="checkbox"] {
    min-height: 170px;
  }
  .center label>input[type="checkbox"]:before {
    position: absolute;
    margin: auto auto;
    left: 0; right: 0; bottom: 0; top: 0;
    content: '';
    display: block;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }
  .center label>input[type="checkbox"]:checked:before {
    height: 100%;
    width: 100%;
    background: #fff;
    border: none;
    border-radius: 0;
  }
  .center label>input[type="checkbox"]:focus {
    outline: none;
  }
  .center label>input[type="checkbox"]:checked:after {
    content: '\f00c';
    color: #fff;

  }
  .card-type {
    padding: 10px 30px;
    background-color: #000;
    color: #fff;
    font-family: 'ProximaNova-Bold';
    border-radius: 4px;
    font-size: 18px;
    .flt-right {
      float: right;
    }
    .header-card {
      h5 {
          font-family: 'ProximaNova-Semibold';
      }
    }
  }
  .bgclr {
    background-color: #FFFFFF;

  }

  .checkbox-price {
    padding: 10px;
    font-family: 'ProximaNova-Semibold';

    text-align: center;
    border-radius: 4px;
    .custom-control-description {
      font-size: 18px;
    }
  }
  .form-pad {
    padding: 50px;
    border-bottom: 1px solid #f3bb3d;
  }
  .card-btn {
    float: right;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
  }
  .flt-right a{
    color: #FFF;
    outline: none;
    .fa-angle-double-left {
      padding-right: 5px;
    }

  }
  .own-card-btn {
    outline: none;
    background-color: #000;
    color: #fff;
    font-family: 'ProximaNova-Semibold';
    border-radius: 4px;
  }
  .cancel-btn {
    border-radius: 4px;
  }
/*.custom-checkbox {
input{
{
&:checked{
.custom-control-description{
border-bottom: 2px solid #000;
box-shadow: 0px 0px 20px -2px #dbdbdb;
}
}

}


}

}*/
}
/*#hide input[type=file] {
display:none;
}
#hide input[type=file] + label {
display:inline-block;
margin:20px;
padding: 4px 32px;
background-color: #FFFFFF;
border:solid 1px #666F77;
border-radius: 6px;
color:#666F77;
}
#hide input[type=file]:active + label {
background-image: none;
background-color:#2D6C7A;
color:#FFFFFF;
}*/
@media only screen and (max-width: 768px) {

  #gift-card {
    .center  {
      label{
        &>span{
          font-size: 18px;
        }
      }

    }
    .gift-type-card  {
      label{
        width: 45%;
      }
    }

  }

}
@media only screen and (max-width: 500px) {

  #gift-card {
    .center label {
      width: 50%;
    }
    .gift-type-card label {
      width: 100%;
    }
  }
  .form-pad{
      padding: 15px;
  }
  #gift-own-card {
    .form-pad {
      padding: 30px;
    }
  }
}