@font-face {
    font-family: 'Didot-HTF-B06-Bold';
    src: url('../fonts/Didot-HTF-B06-Bold.WOFF') format('woff');
}

@font-face {
    font-family: 'Didot-HTF-B06-Bold-Ital';
    src: url('../fonts/Didot-HTF-B06-Bold-Ital.WOFF') format('woff');
}

@font-face {
    font-family: 'Didot-HTF-B42-Bold-Ital';
    src: url('../fonts/Didot-HTF-B42-Bold-Ital.WOFF') format('woff');
}

@font-face {
    font-family: 'Didot-HTF-L96-Light-Ital';
    src: url('../fonts/Didot-HTF-L96-Light-Ital.WOFF') format('woff');
}

@font-face {
    font-family: 'Didot-HTF-M11-Medium-Ital';
    src: url('../fonts/Didot-HTF-M11-Medium-Ital.WOFF') format('woff');
}

@font-face {
    font-family: 'MyriadPro-It';
    src: url('../fonts/MyriadPro-It.WOFF') format('woff');
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.WOFF') format('woff');
}

@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('../fonts/MyriadPro-Semibold.WOFF') format('woff');
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold_0.WOFF') format('woff');
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/ProximaNova-Light.WOFF') format('woff');
}

@font-face {
    font-family: 'ProximaNova-LightItalic';
    src: url('../fonts/ProximaNova-LightItalic.WOFF') format('woff');
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.WOFF') format('woff');
}

@font-face {
    font-family: 'ProximaNova-RegularItalic';
    src: url('../fonts/ProximaNova-RegularItalic.WOFF') format('woff');
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/ProximaNova-Semibold.WOFF') format('woff');
}

@font-face {
    font-family: 'ProximaNova-SemiboldItalic';
    src: url('../fonts/ProximaNova-SemiboldItalic.WOFF') format('woff');
}

body {
    font-family: 'ProximaNova-Regular';
    font-size: 14px;
}

$black: #000000;
$white: #ffffff;
$pink: #ff6464;
$coco: #e9b591;
$dark-coco: #eb9362;
$gray: #565656;
$lightgray:#d3d3d3;
$light-gray: #dbdbdb;
$footer-black: #141414;
$dark-yellow: #d29e37;
$yellow: #f3bb3d;

.mar-t-30 {
    margin-top: 30px;
}

.common-pdng-top-bttm {
    padding-top: 60px;
    padding-bottom: 100px;
    @media(max-width: 500px){
        padding-top: 40px;
        padding-bottom: 70px;
    }
}

.mar-tb-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.pad-0 {
    padding: 0px;
}

.pad-30 {
    padding: 30px;
}

.pad-tb-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.h1-heading {
    font-size: 23px;
    font-family: 'ProximaNova-Bold';
}

.pad-tb-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.bg-light-gray {
    background-color: #f9f9f9;
}

a.disabled {
  /* And disable the pointer events */
  pointer-events: none;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
}




/* Animation delays */

.carousel-caption p:first-child {
    animation-delay: 0.2s;
}

.carousel-caption p:nth-child(2) {
    animation-delay: 0.4s;
}

.modal {
    z-index: 999999;
}

// animation buttons
.btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid $yellow;
    border-radius: 3px;
    cursor: pointer;
    padding: 12px 30px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'ProximaNova-Regular';
}

.btn:hover,
.btn:focus {
    color: #fff;
    outline: 0;
}

.theam-btn {
    color: $yellow;
    border-color: $yellow;
    background-image: linear-gradient(45deg, $yellow 50%, transparent 50%);
    background-position: 75%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    .fa {
        margin-left: 8px;
        font-size: 14px;
    }
}

.theam-btn:hover {
    background-position: 0;
}

.line {
    display: inline-block;
    width: 25%;
    height: 1px;
    margin: 3px 10px;
    background: #333;
}

.fa-bars {
    font-size: 30px !important;
    color: #d0ac6e;
    cursor: pointer;
}

.popover{
    font-family: 'ProximaNova-Light';
}

.card {
    border: none;
    margin: auto;
    padding: 0;
    float: left;
    transition: all ease-in-out 0.3s;
    margin-top: 30px;
    &:hover {
        box-shadow: 0px 0px 20px -2px $light-gray;
        z-index: 999;
        transition: all ease-in-out 0.3s;
        .like-icon{
            opacity: 1;
        }
    }
    .like-icon{
        opacity: 0;
    }
    .card-title {
        font-size: 16px;
        margin-bottom: 15px;
        font-family: 'ProximaNova-Regular';
    }
    .card-block {
        padding-top: 0px;
    }
    .stars {
        margin-bottom: 15px;
    }
    .price {
        span {
            font-size: 18px;
            font-family: 'ProximaNova-Semibold';
            margin-right: 10px;
        }
    }
    strike {
        font-size: 16px;
        color: $light-gray;
        font-family: 'ProximaNova-Light';
    }
    .buttons {
        &.row {
            margin: 0;
        }
        .col {
            padding: 0;
        }
        .btn {
            font-size: 12px;
            padding: 5px 15px;
            line-height: 20px;
            &.theam-btn {
                color: $black;
                border-color: $black;
                background-image: linear-gradient(45deg, $black 50%, transparent 50%);
                &:hover {
                    color: $white;
                }
            }
            &.compare-btn {
                padding: 5px;
                border: 0px;
                color: $gray;
                background: none;
                &:hover {
                    color: $gray;
                }
            }
        }
        object {
            width: 14px;
            height: 14px;
            float: left;
            margin: 3px;
        }
    }
    .offer {
        position: absolute;
        top: 10px;
        left: 10px;
        color: red;
        font-size: 12px;
    }
    img{
        margin-top: 18px;
        margin-bottom: 18px;
    }
    

}
.top-alert {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100000;
  right: 0;
  padding: 20px;
  display: inline-block;
  text-align: right;
}
.top-alert .alert {
  width: auto !important;
  height: 100%;
  display: inline;
  position: relative;
  margin: 0;
}
.top-alert .alert .close {
  position: absolute;
  top: 11px;
  right: 10px;
  color: inherit;
}

.filter-arrow {
    display: block;
    text-decoration: none;
    color: #000;
    font-family: ProximaNova-Semibold;
}

.filter-arrow::after {
    content: "\f106";
    font-family: FontAwesome;
    float: right;
    font-weight: 700;
}

.filter-arrow.collapsed::after {
    content: "\f107";
    font-family: FontAwesome;
    float: right;
    font-weight: 700;
}

.breadcrumb {
    padding: 10px 0px;
    background: #fff;
    margin: 0;
    .breadcrumb-item {
        a {
            color: $black
        }
    }
}

.custom-control-indicator {
    background: transparent;
    border: 1px solid $black;
}

.custom-checkbox .custom-control-input:checked~.custom-control-indicator {
    border: 4px solid $black;
}

.custom-control-input:focus~.custom-control-indicator {
    box-shadow: none !important;
}

.custom-control-input:checked~.custom-control-indicator {
    background-color: $black;
}

.button-next,
.button-prev {
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
}

.button-prev {
    right: 50px;
    margin-right: 30px;
}

.button-next {
    right: 0;
}

.view-all {
    margin-top: 30px;
    &.theam-btn {
        color: $black;
        border-color: transparent;
        background-image: linear-gradient(45deg, $black 50%, $white 50%);
        padding: 10px 40px;
        &:hover {
            color: $white;
        }
    }
}

.fa-star {
    color: $light-gray;
    &.checked {
        color: orange;
    }
}

.like-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 999;
    input[type=checkbox].like-checkbox {
        position: absolute;
        z-index: -1000;
        left: -1000px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }

    input[type=checkbox].like-checkbox+label.css-label {
        padding: 9px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: 0 0;
        vertical-align: middle;
        cursor: pointer;
        transition: all ease-in-out 0.15s;
    }

    input[type=checkbox].like-checkbox:checked+label.css-label {
        background-position: 0 -18px;
        transition: all ease-in-out 0.15s;
    }

    label.css-label {
        background-image: url(../images/like.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

// -- Floating input field animation ---
$brdgrey: #ebebeb;
$fontcolor: #1D1F20;
$red: #dc2932;
$duration: 0.2s;

.custom-form {
    .input-control {
        margin: 20px 0px;
        max-width: 460px;
        position: relative; // overflow-x: hidden;
    }
    .custom-control-description{font-size: 18px;}
    .input-control {
        input,
        textarea {
            position: relative;
            border: 2px solid $brdgrey;
            font-family: inherit;
            font-size: 16px;
            width: 100%;
            padding: 10px 6px;
            border-radius: 5px;
            font-weight: 400;
            outline: none;
            transition: all $duration ease-in-out;

            &.bottom-border {
                border: none;
                border-bottom: 2px solid #ebebeb;
                border-radius: 0;
            }

            &::placeholder {
                color: #c3c3c3;
                transition: opacity $duration ease-out;
                opacity: 0;
            }

            &:focus::placeholder {
                transition: opacity $duration 0.1s ease-out;
                opacity: 1;
            }
        }
        label {
            font-size: 16px;
            pointer-events: none;
            position: absolute;
            top: 10px;
            left: 11px;
            color: #a7a9a7;
            transition: all $duration ease-in-out;
        }

        span.border {
            position: absolute;
            width: 0%;
            left: 0;
            bottom: 0;
            border-bottom: 2px solid $black; // transform: translateX(-100%);
            transition: width $duration ease-out;

            &--failed {
                width: 100%;
                border-bottom: 2px solid $red;

                &~label {
                    color: $red;
                }
            }
        }

        input.input--focused, textarea.input--focused {
            ~span.border {
                width: 100%;
            }

            +label {
                color: $black;
                font-size: 14px;
                top: -12px;
                left: 1px;
                font-weight: 700;
                background-color: #ffffff;
                padding: 0 5px;

                &.failed {
                    color: $red;
                }
            }
        } // ---- end floating field ---- 
    }
}
@media (max-width: 768px){
            .img-width-ipad{
                width: 30%;
            }
         }